/trunk/IPP/.metadata
/trunk/IPP/RemoteSystemsTempFiles
/trunk/IPP/Servers
/trunk/IPP/.recommenders
/trunk/IPP/IPWeb/.classpath
/trunk/IPP/IPWeb/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
/trunk/IPP/IPWeb/.project
/trunk/IPP/IPWeb/.settings/.jsdtscope
/trunk/IPP/IPWeb/.settings/org.eclipse.jdt.core.prefs
/trunk/IPP/IPWeb/.settings/org.eclipse.wst.common.component
/trunk/IPP/IPWeb/.settings/org.eclipse.wst.common.project.facet.core.xml
/trunk/IPP/IPWeb/.settings/org.eclipse.wst.jsdt.ui.superType.container
/trunk/IPP/IPWeb/.settings/org.eclipse.wst.jsdt.ui.superType.name
/trunk/IPP/IPWeb/.settings
