<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>qhmengye</display-name>

	<!-- 配置spring的监听器 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/beans/beans.xml</param-value>
	</context-param>
	
	<filter>        
          <filter-name>struts-cleanup </filter-name>   
          <filter-class> org.apache.struts2.dispatcher.ActionContextCleanUp </filter-class> 
    </filter>
    <filter-mapping>        
          <filter-name>struts-cleanup </filter-name>       
           <url-pattern>/* </url-pattern>
    </filter-mapping>
	
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<context-param>  
	    <param-name>webAppRootKey</param-name>  
	    <param-value>webApp.root</param-value>  
	</context-param>  
	<context-param>  
	  	<param-name>log4jConfigLocation</param-name>  
	    <param-value>classpath:log4j.properties</param-value>  
	</context-param>  
	<listener>    
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>    
	</listener>
	
	<!-- 开启监听 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 配置OpenSessionInViewFilter,必须在struts2监听之前 -->
	<filter>
		<filter-name>lazyLoadingFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<!-- 设置监听加载上下文 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>lazyLoadingFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- truts会自动读取cityname,username这两个cookie，把它们的值通过 setCookiesMap方法装载到相应的cookie map中 -->
	<interceptors>
2   	<interceptor-stack name="myStack">
3       	<interceptor-ref name="cookie">
4           	<param name="cookiesName">xxx,xxx,xxx</param>
5               <param name="cookiesValue">*</param>
6           </interceptor-ref>
7           <interceptor-ref name="defaultStack" />
8           </interceptor-stack>
9	</interceptors>
	<!-- 两种方式，一是全局配置 -->
	<default-interceptor-ref name="myStack" />
	<!-- 二是对单个action配置 -->
	<!-- 
	<action...>
		<interceptor-ref name="myStack">
	   	</interceptor-ref>
	</action>
	 -->
	<welcome-file-list>
		<welcome-file>/page/sys/welcome.jsp</welcome-file>
	</welcome-file-list>
</web-app>